@use "../../styles/init-component";
@use "../../styles/variables" as vars;
@use "../../styles/palette" as palette;

$app-header-height: 50px;

:host {
  text-align: center;
  padding: vars.$margin-default;
  background-color: palette.$brand-primary;
}

img {
  height: $app-header-height;
}
