@use "../variables" as vars;

@mixin transition($transition...) {
  @if vars.$enable-transitions {
    @if not $transition {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }
}
