@use "../../../styles/init-component";
@use "../../../styles/variables" as vars;
@use "../../../styles/palette" as palette;

:host {
  background-color: palette.$white;
  border: vars.$border-default;
  border-radius: vars.$border-radius-default;
  margin-bottom: vars.$margin-default;
  box-shadow: vars.$box-shadow-default;
}
