@use "palette" as p;

// Containers
$margin-default: 10px !default;

// Fonts
$font-family-default: "Lato" !default;
$font-size-default: 20px !default;
$font-weight-default: 300 !default;
$line-height-base: 1.5 !default;
$font-color-default: p.$text-color;

// Borders
$enable-rounded: true !default;
$border-color-default: p.$thin-lines;
$border-default: solid 1px $border-color-default !default;
$border-radius-default: 5px !default;

// Shadows
$enable-shadows: true !default;
$box-shadow-position-default: 0 3px 4px 0 !default;
$box-shadow-default: $box-shadow-position-default rgba(224, 224, 224, 1);

// Transitions
$enable-transitions: true !default;
$transition-base: all 0.2s ease-in-out !default;
