@use "../styles/init-component";
@use "../styles/variables" as vars;
@use "../styles/screen" as screen;

$container-padding: 30px;

app-header {
  box-shadow: vars.$box-shadow-default;
}

.container {
  margin: vars.$margin-default auto;
  padding: $container-padding;
  box-sizing: border-box;

  @each $type, $size in screen.$screen-min-sizes {
    @include screen.screen-size($type) {
      width: $size;
    }
  }
}

.header {
  text-align: center;
}

.component {
  padding: vars.$margin-default;

  .fake-component {
    width: 100%;
  }

  .calendar-selector {
    margin-bottom: vars.$margin-default;
  }
}

h3 {
  text-align: center;
}

.component-description {
  padding: vars.$margin-default;

  img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
}

video {
  width: 100%;
}