@use "../containers/border-radius";
@use "../transitions/transition" as t;
@use "../shadows/box-shadow" as bx;
@use "mixins" as mixin;
@use "button-variables" as btnvars;
@use "../variables" as vars;
@use "../palette" as palette;

.btn {
  display: inline-block;
  font-weight: btnvars.$btn-font-weight-default;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: btnvars.$btn-border-default;
  @include mixin.button-size(
    btnvars.$btn-padding-y,
    btnvars.$btn-padding-x,
    btnvars.$btn-font-size-default,
    btnvars.$btn-line-height,
    btnvars.$btn-border-radius
  );
  @include t.transition(btnvars.$btn-transition);

  &:hover,
  &.hover {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    text-decoration: none;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: 0.65;
    @include bx.box-shadow(none);
  }

  &:active,
  &.active {
    background-image: none;
    @include bx.box-shadow(btnvars.$btn-active-box-shadow);
  }
}

.btn-primary {
  @include mixin.button-variant(
    vars.$font-color-default,
    palette.$white,
    vars.$border-color-default
  );
}

.btn-sm {
  @include mixin.button-size(
    btnvars.$btn-sm-padding-y,
    btnvars.$btn-sm-padding-x,
    btnvars.$btn-sm-font-size,
    btnvars.$btn-sm-line-height,
    btnvars.$btn-border-radius
  );
}
