@use "../containers/border-radius" as br;
@use "../shadows/box-shadow" as bx;
@use "button-variables" as btnvars;
@use "sass:color";

@mixin button-size(
  $padding-y,
  $padding-x,
  $font-size,
  $line-height,
  $border-radius
) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  @include br.border-radius($border-radius);
}

@mixin button-variant($color, $background, $border) {
  $active-background: color.scale($background, $lightness: -10%);
  $active-border: color.adjust($color, $lightness: -12%);
  color: $color;
  background-color: $background;
  border-color: $border;
  @include bx.box-shadow(btnvars.$btn-box-shadow);

  &:hover,
  &.hover {
    color: $color;
    background-color: $active-background;
    border-color: $active-border;
  }

  &.disabled,
  &:disabled {
    background-color: $background;
    border-color: $border;
  }

  &:active,
  &.active {
    color: $color;
    background: $active-background none;
    border-color: $active-border;
  }
}
