@use "../node_modules/normalize.css/normalize";
@use "./styles/buttons/buttons";
@use "./styles/fonts";
@use "./styles/variables" as vars;
@use "./styles/palette" as palette;

body {
  font-family: vars.$font-family-default;
  font-weight: vars.$font-weight-default;
  font-size: vars.$font-size-default;
  color: vars.$font-color-default;
  background-color: palette.$gray-3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: vars.$font-color-default;
}
